table{
  text-align: center;
  border: black, 10px;
  background-color: white;
}
th{
  border: black solid 5px;

}
body{
  background-color: blue;
}
#totals{
  background-color: grey;
}
tr{
  border: black solid 1px;
}
div{
  background-position: left;
  background-color: black;
  font-size: 25px;
  font-family: fantasy;
  color: white;
}
a{
  color: white;
  text-align:center;
}
h1{
  border: black;
}
